<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.work09.mapper.EmpMapper">
    <sql id="selectAll">
        select id,
               username,
               password,
               name,
               gender,
               image,
               job,
               entry_date,
               dept_id,
               create_time,
               update_time
        from emp
    </sql>



    <insert id="savaOne">
        insert into emp (username, password, name, gender, image, job, entry_date, dept_id, create_time, update_time)
        VALUES (#{username}, #{password}, #{name}, #{gender}, #{image}, #{job}, #{entryDate}, #{deptId}, #{createTime},
        #{updateTime})
    </insert>

    <update id="updateById">
        update emp
        <set>
            <if test="username != null">
                username=#{username},
            </if>
            <if test="password != null">
                password=#{password},
            </if>
            <if test="name != null">
                name=#{name},
            </if>
            <if test="gender != null">
                gender=#{gender},
            </if>
            <if test="image != null">
                image=#{image},
            </if>
            <if test="job != null">
                job=#{job},
            </if>
            <if test="deptId != null">
                dept_id=#{deptId},
            </if>
            <if test="updateTime != null">
                update_time=#{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="list" resultType="com.example.work09.pojo.Emp">
        <include refid="selectAll">
        </include>
    </select>

    <select id="getEmpById" resultType="com.example.work09.pojo.Emp">
        <include refid="selectAll">
        </include>
        where id = #{id}
    </select>
</mapper>